<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" class="container">
    <div class="title">
      <h1>Typing Game</h1>
      <div class="maker"></div>
    </div>
    <button class="startButton mb-30" v-if="startFlg!=true" @click="gameStart">START</button>
    <div v-if="startFlg">
      <div class="question mb-30">{{ current_question }}</div>
      <div v-if="current_question_counts == question_counts" class="clear">Clear!</div>
      <div class="typeFormWrapper mb-30">
        <input id="typeForm" v-model="typeBox" type="text" class="typeForm">
      </div>
      <div class="gaugeWrapper mb-30">
        <div :style="styleObject" class="gauge"></div>
      </div>
      <div>{{ this.current_question_counts }}/{{ question_counts }}</div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>